
            <div class="card p-3">
                <h4>Temperatura Máx</h4>
                <h2 id="temp-max" class="text-danger">--°C</h2>
            </div>
        
       
            <div class="card p-3">
                <h4>Temperatura Mín</h4>
                <h2 id="temp-min" class="text-primary">--°C</h2>
            </div>
        
        
            <div class="card p-3">
                <h4>Precipitação</h4>
                <h2 id="precipitacao" class="text-info">-- mm</h2>
            </div>
       
    
            <div class="card p-3">
                <h4>Rajada Máx</h4>
                <h2 id="rajada-max" class="text-warning">-- km/h</h2>
            </div>
       
    

