<html>
  <head>
    <meta charset="UTF-8" />
      <link rel="stylesheet" href="{{ '/assets/css/current-weather.css' | relative_url }}">
  </head>
  <body>
    <div class="card">
      <div class="details">
        <div class="detail-item">
        <img class="detail-icon" src="https://www.svgrepo.com/show/471976/thermometer-01.svg" />
        <div id="temp-value"></div>
        </div>
      </div>    
      <div class="details">
        <div class="detail-item">
          <img class="detail-icon" src="https://www.svgrepo.com/show/460046/rain.svg" />
          <div id="rain-value"></div>
<!--           <div class="label">Precipitação</div>-->        
        </div>
        <div class="detail-item">
          <div class="humidity-bar"></div>
          <div id="humidity-value"></div>
          <!--<div class="label">Humidade</div>-->
        </div>
        <div class="detail-item">
          <img class="detail-icon wind-arrow" src="https://www.svgrepo.com/show/526453/wind.svg" />
          <div id="wind-value"></div>
          <!--<div class="label">Vento</div>-->
        </div>

      </div>
      <div class="details">
        <div class="detail-item">
          <div id="update-time"></div>
        </div>
      </div>
    </div>
  </body>
</html>